<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Timbrado_ManagerBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="Timbrado_ManagerBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://t1demo.facturacionmoderna.com/timbrado/soap"
                binding="basicHttpBinding" bindingConfiguration="Timbrado_ManagerBinding"
                contract="WSLayoutFacturacionModerna.Timbrado_ManagerPort"
                name="Timbrado_ManagerPort" />
        </client>
    </system.serviceModel>
</configuration>